<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/7fda48dd8d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="index">
    <!-- Header -->
    <header class="index_header">
        <div class="index_header--top">
            <img src="/img/logo.png" alt="Logo">
            <button>
                <i class="fa-solid fa-bars fa-lg"></i>
            </button>
        </div>

        <nav class="index_header__navegacion">
            <ul class="index_header__navegacion-sitio">
                <li><a href="">Smarphones</a></li>
                <li> <a href="">Tablets</a></li>
                <li><a href="">Computadoras</a></li>
            </ul>

            <ul class="index_header__navegacion-registro">
                <li><a href="login">Login</a></li>
                <li><a href="registro">Registro</a></li>
            </ul>
        </nav>
    </header>


    <!-- MAIN -->
    <main class="index_main">
        <!-- SECCION VENTAS ARTICULOS -->
        <div class="index_main__seccion-ventas">
            <article class="index_main__articulo">

                <img class="index_main__articulo--img" src="/img/img-phone-01.jpg" alt="Phone 1">

                <div class="index_main__articulo-descripcion">
                    <h3>Nombre del Producto</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus sunt est temporibus doloribus,
                        quae at impedit aperiam ipsam modi iusto animi minima rem laudantium voluptas sed enim
                        aspernatur
                        quaerat! Ratione!</p>
                    <a href="#">VER MAS</a>
                </div>
            </article>

            <article class="index_main__articulo">

                <img class="index_main__articulo--img" src="/img/img-phone-02.jpg" alt="Phone 1">

                <div class="index_main__articulo-descripcion">
                    <h3>Nombre del Producto</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus sunt est temporibus doloribus,
                        quae at impedit aperiam ipsam modi iusto animi minima rem laudantium voluptas sed enim
                        aspernatur
                        quaerat! Ratione!</p>
                    <a href="#">VER MAS</a>
                </div>
            </article>

            <article class="index_main__articulo">

                <img class="index_main__articulo--img" src="/img/img-phone-03.jpg" alt="Phone 1">

                <div class="index_main__articulo-descripcion">
                    <h3>Nombre del Producto</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus sunt est temporibus doloribus,
                        quae at impedit aperiam ipsam modi iusto animi minima rem laudantium voluptas sed enim
                        aspernatur
                        quaerat! Ratione!</p>
                    <a href="#">VER MAS</a>
                </div>
            </article>

            <article class="index_main__articulo">

                <img class="index_main__articulo--img" src="/img/img-phone-01.jpg" alt="Phone 1">

                <div class="index_main__articulo-descripcion">
                    <h3>Nombre del Producto</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus sunt est temporibus doloribus,
                        quae at impedit aperiam ipsam modi iusto animi minima rem laudantium voluptas sed enim
                        aspernatur
                        quaerat! Ratione!</p>
                    <a href="#">VER MAS</a>
                </div>
            </article>

            <article class="index_main__articulo">

                <img class="index_main__articulo--img" src="/img/img-phone-02.jpg" alt="Phone 1">

                <div class="index_main__articulo-descripcion">
                    <h3>Nombre del Producto</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus sunt est temporibus doloribus,
                        quae at impedit aperiam ipsam modi iusto animi minima rem laudantium voluptas sed enim
                        aspernatur
                        quaerat! Ratione!</p>
                    <a href="#">VER MAS</a>
                </div>
            </article>

            <article class="index_main__articulo">

                <img class="index_main__articulo--img" src="/img/img-phone-03.jpg" alt="Phone 1">

                <div class="index_main__articulo-descripcion">
                    <h3>Nombre del Producto</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus sunt est temporibus doloribus,
                        quae at impedit aperiam ipsam modi iusto animi minima rem laudantium voluptas sed enim
                        aspernatur
                        quaerat! Ratione!</p>
                    <a href="#">VER MAS</a>
                </div>
            </article>

        </div>


        <aside class="index__main__aside">
            <section class="index__main__aside__section"><!-- Cursos -->
                <h2>TUTORIALES</h2>
                <div class="index__main__aside__section--cursos">
                    <article>
                        <img src="/img/aside-01.jpg" alt="">
                        <h5>Titulo del tutorial de reparacion</h5>
                    </article>

                    <article>
                        <img src="/img/aside-02.jpg" alt="">
                        <h5>Titulo del tutorial de reparacion</h5>
                    </article>
                    <article>
                        <img src="/img/aside-03.jpg" alt="">
                        <h5>Titulo del tutorial de reparacion</h5>
                    </article>
                    <article>
                        <img src="img/aside-04.jpg" alt="">
                        <h5>Titulo del tutorial de reparacion</h5>
                    </article>
                </div>
            </section>

            <section class="index__main__aside___section-publicidad"> <!-- Publicidad -->
                <h2>PUBLICIDAD</h2>
                <div class="index__main__asid__section__div--publicidad">
                    <img class="index__main__aside--img-propaganda1" src="/img/ad-01.jpg" alt="">
                    <img class="index__main__aside--img-propaganda2" src="/img/ad-02.jpg" alt="">
                </div>

            </section>
        </aside>

    </main>
</body>

</html>