<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/7fda48dd8d.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="index">
    <!-- Header -->
    <header class="index_header">
        <div class="index_header--top">
            <a href="/"><img src="/img/logo.png" alt="Logo"></a>
            <button>
                <i class="fa-solid fa-bars fa-lg"></i>
            </button>
        </div>

        <nav class="index_header__navegacion">
            <ul class="index_header__navegacion-sitio">
                <li><a href="">Smarphones</a></li>
                <li> <a href="">Tablets</a></li>
                <li><a href="">Computadoras</a></li>
            </ul>

            <ul class="index_header__navegacion-registro">
                <li><a href="login">Login</a></li>
                <li><a href="registro">Registro</a></li>
            </ul>
        </nav>
    </header>

    <!-- MAIN -->
    <main class="index__main">
        <div class="index__banner">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/banner/banner1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/banner/banner2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/banner/banner3.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- SECCION VENTAS ARTICULOS -->
        <div class="index_main__seccion-ventas">
            <article class="index_main__articulo">

                <img class="index_main__articulo--img" src="/img/img-phone-01.jpg" alt="Phone 1">

                <div class="index_main__articulo-descripcion">
                    <h3>Nombre del Producto</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus sunt est temporibus doloribus,
                        quae at impedit aperiam ipsam modi iusto animi minima rem laudantium voluptas sed enim
                        aspernatur
                        quaerat! Ratione!</p>
                    <a href="#">VER MAS</a>
                </div>
            </article>

            <article class="index_main__articulo">

                <img class="index_main__articulo--img" src="/img/img-phone-02.jpg" alt="Phone 1">

                <div class="index_main__articulo-descripcion">
                    <h3>Nombre del Producto</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus sunt est temporibus doloribus,
                        quae at impedit aperiam ipsam modi iusto animi minima rem laudantium voluptas sed enim
                        aspernatur
                        quaerat! Ratione!</p>
                    <a href="#">VER MAS</a>
                </div>
            </article>

            <article class="index_main__articulo">

                <img class="index_main__articulo--img" src="/img/img-phone-03.jpg" alt="Phone 1">

                <div class="index_main__articulo-descripcion">
                    <h3>Nombre del Producto</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus sunt est temporibus doloribus,
                        quae at impedit aperiam ipsam modi iusto animi minima rem laudantium voluptas sed enim
                        aspernatur
                        quaerat! Ratione!</p>
                    <a href="#">VER MAS</a>
                </div>
            </article>

            <article class="index_main__articulo">

                <img class="index_main__articulo--img" src="/img/img-phone-01.jpg" alt="Phone 1">

                <div class="index_main__articulo-descripcion">
                    <h3>Nombre del Producto</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus sunt est temporibus doloribus,
                        quae at impedit aperiam ipsam modi iusto animi minima rem laudantium voluptas sed enim
                        aspernatur
                        quaerat! Ratione!</p>
                    <a href="#">VER MAS</a>
                </div>
            </article>

            <article class="index_main__articulo">

                <img class="index_main__articulo--img" src="/img/img-phone-02.jpg" alt="Phone 1">

                <div class="index_main__articulo-descripcion">
                    <h3>Nombre del Producto</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus sunt est temporibus doloribus,
                        quae at impedit aperiam ipsam modi iusto animi minima rem laudantium voluptas sed enim
                        aspernatur
                        quaerat! Ratione!</p>
                    <a href="#">VER MAS</a>
                </div>
            </article>

            <article class="index_main__articulo">

                <img class="index_main__articulo--img" src="/img/img-phone-03.jpg" alt="Phone 1">

                <div class="index_main__articulo-descripcion">
                    <h3>Nombre del Producto</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus sunt est temporibus doloribus,
                        quae at impedit aperiam ipsam modi iusto animi minima rem laudantium voluptas sed enim
                        aspernatur
                        quaerat! Ratione!</p>
                    <a href="#">VER MAS</a>
                </div>
            </article>

        </div>


        <aside class="index__main__aside">
            <section class="index__main__aside__section"><!-- Cursos -->
                <h2>TUTORIALES</h2>
                <div class="index__main__aside__section--cursos">
                    <article>
                        <img src="/img/aside-01.jpg" alt="">
                        <h5>Titulo del tutorial de reparacion</h5>
                    </article>

                    <article>
                        <img src="/img/aside-02.jpg" alt="">
                        <h5>Titulo del tutorial de reparacion</h5>
                    </article>
                    <article>
                        <img src="/img/aside-03.jpg" alt="">
                        <h5>Titulo del tutorial de reparacion</h5>
                    </article>
                    <article>
                        <img src="img/aside-04.jpg" alt="">
                        <h5>Titulo del tutorial de reparacion</h5>
                    </article>
                </div>
            </section>

            <section class="index__main__aside___section-publicidad"> <!-- Publicidad -->
                <h2>PUBLICIDAD</h2>
                <div class="index__main__asid__section__div--publicidad">
                    <img class="index__main__aside--img-propaganda1" src="/img/ad-01.jpg" alt="">
                    <img class="index__main__aside--img-propaganda2" src="/img/ad-02.jpg" alt="">
                </div>

            </section>
        </aside>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</body>

</html>